<div class="navbar">
	<div class="navbar-inner">
		<div class="left sliding"><a href="#" class="back link"> 
			<i class="icon icon-back"></i><span>Back</span></a>
		</div>
		<div class="center sliding">About Us</div>
	</div>
</div>
<div class="pages">
	<div data-page="cakelist" class="page">
		<div class="page-content">
				<div class="content-block-inner">
				<p style="padding-right: 30px;">This application has been built for the use of the bakery club. The app has many cake recipes with images that are labelled for reuse. It contains 4 pages which are as follows: home, cakes, detail and the about page.</p>
				<p><b>Author: </b>Bakery Club</p>
				<p><b>Developed: </b>JH App Development</p>
			</div>
		</div>
	</div>
</div>
