<div class="navbar">
	<div class="navbar-inner">
		<div class="left sliding"><a href="#" class="back link"> 
			<i class="icon icon-back"></i><span>Back</span></a>
		</div>
		<div class="center sliding">Cake Recipes</div>
	</div>
</div>
<div class="pages">
	<div data-page="cakelist" class="page">
		<div class="page-content">
		<h3>Choose a cake</h3>
			<div class="list-block">
				<ul> {{#each this}}
					<li>
						<a href="detail.html" class="item-content item-link" data-context-name="cakelist.{{@index}}">
							<div class="item-inner">
								<div class="item-title"> {{Cake}} </div>
							</div>
						</a>
					</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
</div>
