<div class="navbar">
	<div class="navbar-inner">
		<div class="left sliding">
			<a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a>
		</div>
		<div class="center sliding"> {{Cake}} Cake </div>
	</div>
</div>
<div class="pages">
	<div data-page="cakelist" class="page">
		<div class="page-content">
		    <img class="detail-banner" src="{{Image}}">
			<!--<div class="content-block inset">-->
			
			<div class="content-block-inner">
				<p>{{Description}}</h3>
			
			</div>
			
			<h3>Ingredients</h3>
			<div class="content-block-inner">
				<ul>
					{{#each Ingredients}}
					<li>{{this}}</li>
					{{/each}}
				</ul>
			</div>
			
			
			<!-- Ingredients -->
			<h3>Instructions</h3>
			<div class="list">
				<ul class="accordion-list">
					{{#each Instructions}}
					<li class="accordion-item"><a href="#" class="item-content item-link">
						<div class="item-inner">
							<div class="item-title">{{#if @first}}Getting Started {{else}} Step {{@index}} {{/if}}</div>
						</div></a>
						<div class="accordion-item-content">
							<div class="block">
								<p>{{this}}</p>
							</div>
						</div>
					</li>
					{{/each}}

				</ul>
			</div>
			<!-- Ingredients End -->
				
				
<!-- 			</div>
 -->		</div>
	</div>
</div>
