.navbar, .subnavbar, .toolbar {
    background: #4949e2;
}
.navbar .center {
	color: #fff;
	font-weight: 600;
}
a {
	color:#fff;
}
.accordion-item {
    color: black;
    padding: 10px;
    border: 1px solid #e6e6e6;
    margin-top: -1px;
}
.accordion-list {
    list-style: none;
    padding: 0;
    background: #fff;
}
.list-block {	
    margin: 20px 0;
    font-size: 17px;
}
.item-title {
	color: black;
    font-weight: 600;
}
.detail-banner {
    width: 100%;
    height: 200px;
}
h3 {
	padding-left: 10px;
	color: #4949e2;
}
.content-block-inner {
	background: #fff;
    padding: 10px 15px;
    margin-left: -15px;
    width: 100%;
    position: relative;
    padding-left: 30px;
    color: #000;
}
.demo-swiper .swiper-slide {
  font-size: 25px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #000;
}
.demo-swiper .swiper-slide {
  box-sizing: border-box;
  border: 1px solid #ddd;
  background: #fff;
}
.demo-swiper {
    margin: 0px 0 10px;
    font-size: 18px;
    height: 120px;
}
.demo-swiper.demo-swiper-auto .swiper-slide {
  width: 85%;
}
.demo-swiper.demo-swiper-auto .swiper-slide:nth-child(2n) {
  width: 70%;
}
.demo-swiper.demo-swiper-auto .swiper-slide:nth-child(3n) {
  width: 30%;
}
.gallary {
    width: 30%;
    height: 105px;
}
.popup-gallery {
	text-align:center;
}